.frameChild {
  width: 245px;
  height: 252px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-300);
  display: none;
  z-index: 0;
}
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-lavender-200);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.chartPinIcon {
  position: absolute;
  top: 26px;
  left: 30px;
  width: 42px;
  height: 42px;
  z-index: 2;
}
.ellipseParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 96px;
  flex: 1;
  position: relative;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-mini);
}
.candypay {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 127px;
  z-index: 1;
}
.frameInner {
  width: 43px;
  height: 43px;
  position: absolute;
  margin: 0 !important;
  top: 104px;
  right: -21px;
  z-index: 1;
}
.rectangleParent {
  width: 245px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue-300);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-25xl) var(--padding-40xl) var(--padding-40xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-15xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--white);
  font-family: var(--font-red-rose);
}
@media screen and (max-width: 450px) {
  .candypay {
    font-size: var(--font-size-xl);
    line-height: 18px;
  }
}
